.index{

  iframe{
    margin-top: 20px;
  }
    h1{
        font-family: $fuente1;
        text-align: center;
    }

    .banner{
        margin: 0;




        img{
            margin: 1rem 0;
            width: 100vw;
            font-family: $fuente4;
//            position:absolute; bottom: 120px; right: 100px;             padding-left: 560px;              padding-right: 450px;
             color: $fondo-casiblanco;
        }
        h2{
          text-align: center;
          position:absolute; 
          bottom: 320px; 
          right: 650px; 
           padding-left: 60px;
            padding-right: 50px;
            color: $fondo-casiblanco;
            @extend %sombra-abajo;
            
        }

        h3{
          color: $blanco;
          @extend %sombra-abajo;
          text-align: center;
          position:absolute; 
          bottom: 200px; 
          right: 100px; 
           padding-left: 60px;
            padding-right: 50px;
            
        }


    }

    .seccion-02{

        display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(1, 600px);
         grid-template-areas:
         "imagen-01 imagen-02 imagen-03";
         max-width: 1500px;
         margin: auto;


         article{ 
            grid-area: imagen-01; 
            background-image: url('../recursos/cereza-cafe.jpg');
            background-size: cover;
            color: $blanco;

            :hover{
                color: $azul;
                transition: all .3s;
              }
          }
        
          
        
        .imagen-02 { 
          grid-area: imagen-02; 
          background-image: url('../recursos/latissima-one.jpg');
          color: white;
          background-size: cover;

          :hover{
            color: #304255;
            transition: all .3s;
          }
        }
        
        .imagen-03 {
           grid-area: imagen-03;
           background-image: url('../recursos/lume-accesorios.png'); 
           color: white;
           background-size: cover;

           :hover{
            color: #304255;
            transition: all .3s;
          }
          }
        

    }

    .seccion-03{
        max-width: 700px;
        margin: auto;
        color: $celeste;
        padding: 100px;

        p{
            font-family: $fuente3;
        }

        img{
            max-width: 700px;
            
            

            :hover{
  
                color: $azul;
                transition: all .3s;
                background-color: $blanco;}

            
        }
    }

}







@media (max-width: 450px){

  .banner{

    padding-top: 350px;
    display: flex;
    flex-direction: column;
    background-color: $celeste;


    h3{   
      padding: 20px;
      overflow: hidden;
  }

  }
    

    section.seccion-02{


      padding-top: 50px;
      display: grid;
      grid-template-columns: 1fr; 
        article {
            width: 100%; 
            margin-bottom: 20px; 
        }
    }
  }